# After changing this file, you can check it on:
#   http://lint.travis-ci.org/
language: python

# Run jobs on container-based infrastructure, can be overridden per job
sudo: false

matrix:
  include:
    - python: 3.5
    - python: 3.6

before_install:

# Get local information about the machine
  - uname -a
  - free -m
  - df -h
  - ulimit -a
  - python -V
  - pip install --upgrade pip setuptools

# Install various required modules
  - pip install pytest pytest-cov
  - pip install codecov
  - pip install numpy
  - pip install pandas
  - pip install cclib 
  - pip install keras
  - pip install tensorflow
  - pip install -U scikit-learn
  - pip install hyperopt
  - pip install matplotlib
  - pip install GPy

# Install the plugin locally
  - pip install -e .

script:
  - py.test -v tests/ --cov=./

# after_success:
#   - ./tools/travis-upload-wheel.sh

notifications:
    email: false

after_success:
  - codecov
